
@{
    ViewBag.Title = "AdminIndex";
}
@Styles.Render("~/Content/AdminPanel.css")
<div class="d-flex justify-content-center align-items-center">
    <h1>Admin Panel</h1>
</div>

<div class="d-flex justify-content-center align-items-center flex-row cardDiv">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Outils</h5>
            <p class="card-text">Ajouter,supprimer et modifier des outils </p>
            <a href="@Url.Action("Index","Outils")" class="btn btn-primary">Outils </a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Liens</h5>
            <p class="card-text">Ajouter,supprimer et modifier des liens entre des clients et des outils  </p>
            <a href="@Url.Action("MCT","Account")" class="btn btn-primary">Liens </a>
        </div>
    </div>
</div>
