
.container.body-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.MainContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    border: 2px solid black;
    width:400px;
    border-radius: 16px;
}
