
@{
    ViewBag.Title = "Portail Client";
}

@Styles.Render("~/Content/ClientStyleView.css")

<h1>Bienvenue @Model.Email</h1>

<div class="mainHeader">
    <h2 class="d-flex justify-content-center align-items-center">mes projets</h2>

</div>
