@{
    ViewBag.Title = "LinkedCLI";
}

@Styles.Render("~/Content/index.css")

<div class="header">
    <h1>Outil Liens Clients</h1>
</div>


<div class="MainSubject">
    <div class="card" style="width:18rem;">
        <a href="@Url.Action("Login","Account")" class="btn btn-primary d-flex gap-3 justify-content-center align-items-center">Connexion</a>
    </div>
   

</div>