
@{
    ViewBag.Title = "Login";
}
@Styles.Render("~/Content/Login.css")


<h2>Login</h2>

<div class="MainContainer">
    <div class="LoginForm">
       
        <div class="usernamePara"> UserName :</div>
        <div class="usernameForm">

        </div>

    </div>
</div>

