
@{
    ViewBag.Title = "Login";
}
@Styles.Render("~/Content/Login.css")




<div class="MainContainer">
    <h2>Welcome Back</h2>
    <p class="loginSubtitle">Please enter your detail</p>
    <div class="LoginForm">
        <form>
            <input type="text" class="EmailInput" placeholder="Email" />
            <input type="password" class="PasswordInput" placeholder="Password" />
        </form>
    </div>
    <div class="optionnalLogin">
        <input type="checkbox" />
        <div class="CheckBoxText">
            Remember Me
        </div>
       
    </div>
</div>

